<html>
<body>
<script src="../routes/about.js"></script>
<h1>About</h1>
<form>
<p>Overview</p><BR>
<p>Work</p><BR>
<p>Education</p><BR>
<p>Contact Info</p><BR>
<p>Life Events</p><BR>
</form>
</body>
</html>